<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team 12 Medical Clinic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #343a40;">
        <a class="navbar-brand" href="#" style="color: #fff; font-weight: bold;">MedicalWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">Register Patient</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">Register Doctor</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">Register Nurse</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Admin/AdminRegister">Register Admin</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer style="background-color: #f8f9fa; padding: 20px 0; margin-top: 50px;">
        <div class="text-center">
            &copy; 2023 - Medicalweb - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #343a40;">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>